@import "tailwindcss";

/* color schema */
:root {
    --primColor: #2563EB;
    --secColor: #3B82F6;
    --accent: #60A5FA;

    --lightBg: #FFFFFF;
    --lightText: #111827;
    --lightCard: #F8FAFC;
    --lightBorder: rgba(0, 0, 0, 0.1);
    --lightShadow: 0 0 16px rgba(37, 99, 235, 0.25);

    --darkBg: #0F172A;
    --darkText: #F8FAFC;
    --darkCard: #1E293B;
    --darkBorder: rgba(255, 255, 255, 0.1);
    --darkShadow: 0 0 16px rgba(255, 255, 255, 0.486);

    --lightSecBg: #F8FAFC;
    --darkSecBg: #1E293B;
}

* {
    box-sizing: border-box;
}

/* apply directives */
.gridbox {
    @apply grid grid-rows-2 md:grid-cols-2 md:grid-rows-1;
}

.flexbox {
    @apply flex justify-center items-center;
}

.vflexbox {
    @apply flex flex-col justify-center items-center;
}

.inp-class {
    @apply bg-white px-5 py-2 w-full mb-2 rounded-md outline-offset-2 focus:outline-2 focus:outline-white;
}

/* anmations */
@keyframes fade-lr {
    0% {
        transform: translateY(-250px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        transform: translateY(20px);
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes move-up {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-10px);
    }
}

@keyframes scale {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

@keyframes floatUp {
    0% {
        transform: translateY(4px);
        opacity: 0.8;
    }

    50% {
        transform: translateY(-4px);
        opacity: 1;
    }

    100% {
        transform: translateY(4px);
        opacity: 0.8;
    }
}

/* animation class */
.afade-lr {
    animation: fade-lr 2s cubic-bezier(0.075, 0.82, 0.165, 1) 1 forwards;
}

.animate-fade-in {
    animation: fade-in 1s ease forwards;
}

.animate-move-up:hover {
    animation: move-up 1s ease forwards;
}

.animate-scale:hover {
    animation: scale 0.5s ease-in-out forwards;
}

.animate-appear {
    animation: appear 1s ease-in-out forwards;
}

.animate-floatUp {
    animation: floatUp 3s ease-in-out infinite;
}

.delay-200 {
    animation-delay: 0.2s;
}

.delay-400 {
    animation-delay: 0.4s;
}

.delay-600 {
    animation-delay: 0.6s;
}