@import "tailwindcss";

/* color schema */
:root {
    --primColor: rgb(37, 99, 235);
    --secColor: #3B82F6;
    --accent: #60A5FA;

    --lightBg: #FFFFFF;
    --lightText: #111827;
    --lightCard: #F8FAFC;
    --lightBorder: rgba(0, 0, 0, 0.1);
    --lightShadow: 0 0 16px rgba(37, 99, 235, 0.25);

    --darkBg: #0F172A;
    --darkText: #F8FAFC;
    --darkCard: #1E293B;
    --darkBorder: rgba(255, 255, 255, 0.1);
    --darkShadow: 0 0 16px rgba(255, 255, 255, 0.486);

    --lightSecBg: #F8FAFC;
    --darkSecBg: #1E293B;
}

* {
    box-sizing: border-box;
}

/* css classes */
.img-shadow {
    box-shadow: 0px 10px 20px rgba(37, 99, 235);
}

/* apply directives */
.gridbox {
    @apply grid grid-rows-2 md:grid-cols-2 md:grid-rows-1;
}

.flexbox {
    @apply flex justify-center items-center;
}

.vflexbox {
    @apply flex flex-col justify-center items-center;
}

.inp-class {
    @apply px-5 py-2 w-full mb-2 rounded-md bg-gray-100 outline-offset-2 focus:outline-2 focus:outline-blue-500;
}


/* anmations */
@keyframes fade-up {
    from {
        transform: translateY(80%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes slide-up {

    0%,
    20% {
        transform: translateY(0%);
    }

    25%,
    45% {
        transform: translateY(-25%);
    }

    50%,
    70% {
        transform: translateY(-50%);
    }

    75%,
    95% {
        transform: translateY(-75%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    0% {
        width: 0%;
    }

    34%,
    46% {
        width: 100%;
    }

    80%,
    100% {
        width: 0%;
    }
}

@keyframes appear {
    0% {
        opacity: 0%;
        scale: 0;
    }

    100% {
        opacity: 100%;
        scale: 1;
    }
}

@keyframes float-up {
    0% {
        transform: translateY(4px);
        opacity: 0.8;
    }

    50% {
        transform: translateY(-4px);
        opacity: 1;
    }

    100% {
        transform: translateY(4px);
        opacity: 0.8;
    }
}

@keyframes fade-down {
    0% {
        transform: translateY(-250px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

/* animation class */
.animate-fade-up {
    animation: fade-up 1s ease forwards;
}

.animate-slide-up {
    animation: slide-up 20s ease-out infinite;
}

.animate-text-typing {
    animation: cursor .8s step-end infinite,
        typing 5s steps(16) infinite;
}

.animate-appear {
    animation: appear .8s ease-out forwards;
}

.animate-float-up {
    animation: float-up 3s ease-in-out infinite;
}

.animate-fade-down {
    animation: fade-down 2s cubic-bezier(0.075, 0.82, 0.165, 1) 1 forwards;
}